{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taxes comparing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
</head>
<body>
    <header class="bg-dark text-white p-3">
        <a class="navbar-brand" href="{% url 'index' %}">Countries Taxes Comparing</a>
    </header>

    <main class="container-fluid my-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white p-3 text-center position-fixed w-100" style="bottom: 0;">
        <p>© 2023 Seashells</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>