{% extends 'base.html' %}
{% block content %}
  <table class="table table-dark" style="width: 100%; table-layout: fixed;">
    <thead>
      <tr>
        <th style="white-space: nowrap;">Kind of tax</th>
        <th>{{ country1 }}</th>
        <th>{{ country2 }}</th>
      </tr>
    </thead>
    <tbody>
      {% for tax1, tax2 in taxes %}
        <tr>
          <td>
            <a href="{% url 'tax_detail' tax1.tax.pk %}" class="name-text">{{ tax1.tax.name }}</a>
          </td>
          <td>
            <span class="gold-text">Rate Percentage: </span> {{ tax1.rate_percentage }}<br>
            <span class="gold-text">Rate Fixed: </span> {{ tax1.rate_fixed }}<br>
            <span class="gold-text">Rate Formula: </span> {{ tax1.rate_formula }}<br>
          </td>
          <td>
            <span class="gold-text">Rate Percentage: </span> {{ tax2.rate_percentage }}<br>
            <span class="gold-text">Rate Fixed: </span> {{ tax2.rate_fixed }}<br>
            <span class="gold-text">Rate Formula: </span> {{ tax2.rate_formula }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
