{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form1 }}
    {{ form2 }}
    <input type="submit" value="compare">
</form>

{% if country1 and country2 %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ country1.name }}</h2>
      <table class="table">
        <tr>
          <th>Name</th>
          {% for item in country1 %}
            <td>{{ item.name }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Percentage</th>
          {% for item in country1 %}
            <td>{{ item.rate_percentage }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Fixed</th>
          {% for item in country1 %}
            <td>{{ item.rate_fixed }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Formula</th>
          {% for item in country1 %}
            <td>{{ item.rate_formula }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="col">
      <h2>{{ country2.name }}</h2>
      <table class="table">
        <tr>
          <th>Name</th>
          {% for item in country2 %}
            <td>{{ item.name }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Percentage</th>
          {% for item in country2 %}
            <td>{{ item.rate_percentage }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Fixed</th>
          {% for item in country2 %}
            <td>{{ item.rate_fixed }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Rate Formula</th>
          {% for item in country2 %}
            <td>{{ item.rate_formula }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}