{ {% extends "base.html" %}}
{% block content %}
<form action="{% url 'compare' %}" method="get">
    <select name="country1">
        {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
    <select name="country2">
        {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Compare">
</form>
{% endblock content %}