{% extends "base.html" %}
{% block content %}
<div class="container">
  <form action="{% url 'compare' %}" method="get" class="text-center">
    <div class="form-group">
      <select name="country1" class="form-control">
        {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <select name="country2" class="form-control">
        {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg">Compare</button>
  </form>
</div>
{% endblock content %}
